<form [formGroup]="inputData" class="req">
    <h4>Select machine</h4>
    <mat-form-field  class="search hid">
        <input matInput #sea type="text" autocomplete="off" formControlName="id">
        <mat-label>IDr</mat-label>
    </mat-form-field>
    <mat-form-field  class="search">
        <input matInput #sea type="text" autocomplete="off" formControlName="sn" (input)="filter()" [readonly]="infoInput || readOnly">
        <mat-label>Search s/n, model or customer</mat-label>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="list" *ngIf="chStr">
        <div *ngFor="let r of rigs" [ngStyle]="{'cursor':1==1? 'pointer':'arrow'}" class="line" (click)="sel(r)">
            <p class="text t1 sm">{{r.sn}}</p>
            <p class="text sm">{{r.model}}</p>
            <p class="text med"><strong>{{r.sn}}</strong> - {{r.model}}</p>
            <p class="text">{{r.customer}}</p>
        </div>
    </div>  
</form>