<div mat-dialog-title>{{data.new? 'Add new' : 'Edit'}} contract</div>
<div mat-dialog-content>
    <form [formGroup]="inputData" class="req">
        <episjob-selectmachine [infoInput]="data.info" (info)="sel($event)"></episjob-selectmachine> 
        <div *ngIf="details.length>0">
            <mat-form-field class="search">
                <mat-label>Model</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="model" [readonly]="this.data.info && this.data.info.sn!=undefined">
            </mat-form-field>
            <mat-form-field class="search">
                <mat-label>Customer</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="customer" [readonly]="this.data.info && this.data.info.sn!=undefined">
            </mat-form-field>
            <mat-form-field class="search hid">
                <mat-label>CustomerCode</mat-label>
                <input matInput type="text" autocomplete="off" formControlName="custCode" [readonly]="this.data.info && this.data.info.sn!=undefined">
            </mat-form-field>
            <h4>Contract data</h4>
            <mat-form-field class="search">
                <mat-label>Contract type</mat-label>
                <mat-select formControlName="type"  >
                  <mat-option *ngFor="let t of types" [value]="t.text" >
                    {{t.text}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width:100%;">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date" [readonly]="true">
                  <input matEndDate formControlName="end" placeholder="End date" [readonly]="true">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-date-range-picker [touchUi]="chW()" #picker></mat-date-range-picker>
              
                <mat-error *ngIf="inputData.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="inputData.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>  
            <h4>Service fees</h4>
            <episjob-tarifs [type]="data.info?data.info.type:undefined" [list]="(data.info && data.info.fees)?data.info.fees:[]" (valuemod)="chMod($event)" (save)="getFees($event)"></episjob-tarifs>
            <h4>Discounts & Transport Costs</h4>
            <episjob-discounts [list]="(data.info && data.info.discounts)?data.info.discounts:[]" (valuemod)="chModDisc($event)" (save)="getDiscount($event)"></episjob-discounts>
        </div>
        
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="reset()" *ngIf="details.length>0 && (!this.data.info || this.data.info.sn==undefined)">Reset</button>
    <button mat-raised-button color="primary" (click)="onNoClick()" >Cancel</button>
    <button mat-raised-button color="primary" [disabled]="inputData.invalid" (click)="save()">OK</button>
</div>