.radio {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .radioB {
    margin: 5px;
  }

  .todoCont{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .list{
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 15px;
    max-width: 750px;
  }


  .custCont, .contCont{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    max-width: 750px;
    
  }

  .custCont{
    grid-template-areas: 
    "custItem1"
    "custItem4"
    "custItem2"
    "custItem3";
  }

  .contCont{
    grid-template-areas: 
    "contItem1"
    "contItem5"
    "contItem2"
    "contItem3"
    "contItem4";
  }



  .butt{
    margin-top: 25px;
    display:grid;
    gap:15px;
    grid-template-columns: repeat(2,max(120px));
  }

  .notesCont, .dateCont{
    grid-template-columns: repeat(1, 1fr);
    max-width: 750px;
  }

  .notesCont{
    grid-template-areas: 
    "notesItem1"
    "notesItem2"
    "notesItem3";
    
  }

  .potCont{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    max-width: 750px;
  }

  .notesItem2{
    max-height: 120px;
  }

  .notesItem1, .notesItem2, .notesItem3, .dateItem1{
    width: 100%;
  }

  .custItem1{
    grid-area: custItem1;
  }

  .custItem2{
    grid-area: custItem2;
  }

  .custItem3{
    grid-area: custItem3;
  }

  .custItem4{
    grid-area: custItem4;
  }

  .contItem1{grid-area: contItem1;}
  .contItem2{grid-area: contItem2;}
  .contItem3{grid-area: contItem3;}
  .contItem4{grid-area: contItem4;}
  .contItem5{grid-area: contItem5;}


  .dateCont, .custCont, .contCont, .notesCont, .potCont{
    margin-top: 15px;
  }

  @media screen and (min-width: 750px) {
    .custCont{
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      grid-template-areas: 
      "custItem1 custItem2 custItem3"
      "custItem4 custItem4 custItem4";
    }
    .contCont{
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      grid-template-areas: 
      "contItem1 contItem2"
      "contItem3 contItem4"
      "contItem5 contItem5";
    }

    .potCont{
      grid-template-columns: repeat(2, 1fr);
    }

    .todoCont{
      grid-template-columns: calc(70% - 7.5px) calc(30% - 7.5px);
    }
  }

  @media screen and (min-width: 500px) {
    .todoCont{
      grid-template-columns: calc(60% - 7.5px) calc(40% - 7.5px);
    }

  }

  .epiCon{
    margin-bottom: 15px;
    max-width: 750px;
  }