<div class="cont" *ngIf="chPos('SalesRights')">
  <episjob-h2 [data]="'Visits on ' + today" icon="list" padtop="0"></episjob-h2>
  <div class="newVisit" [class.mat-elevation-z1]="true" (click)="newV()">
    <button mat-icon-button ><mat-icon>add_circle</mat-icon></button>
    <div>Add new visit</div>
  </div>
  <div class="spinC" *ngIf="spin">
    <mat-spinner color="primary" diameter="25"></mat-spinner>
  </div>
  <div class="listCont" *ngIf="listV!=undefined && listV.length==0">
    No visits
  </div>
  <div class="listCont" *ngIf="listV!=undefined && listV.length>0">
      <div class="list" *ngFor="let v of listV" class="divtxt" (click)="openVisit(v)">
        <div>
            <div class="txtlabel">{{v.sam}}</div>
            <div class="txt">{{v.c1}}</div>
        </div>
      </div>
  </div>
</div>