<div mat-dialog-title>Attachments</div>
<div mat-dialog-content>
    <div *ngIf="contractList.length>0" class="fileList">
        <h4>List</h4>
        <div *ngFor="let c of contractList; let i=index" class="file">
            <mat-icon (click)="open(c.path)">{{c.ico=='pdf'?'picture_as_pdf':(c.ico=='doc'||c.ico=='docx'||c.ico=='docm')?'article':(c.ico=='xls'||c.ico=='xlsx'||c.ico=='xlsm')?'table_view':'note'}}</mat-icon>
            <div (click)="open(c.path)" class="names">{{c.name}}</div>
            <mat-icon *ngIf="chPos('AdminRights')" class="del" (click)="delete(c.path, c.name,i)" matTooltip="Delete">delete</mat-icon>
        </div>
        <mat-divider *ngIf="!data.arch"></mat-divider>
    </div>
    <h4 *ngIf="contractList.length==0" class="fileList">No Attachments</h4>
    <div class="addNewCont" *ngIf="chPos('AdminRights') && !data.arch">
        <h4>Add new Attachment</h4>
        <div class="imeicont" (click)="fu.click()">
            <button mat-icon-button color="accent"  matTooltip="New Attachment"><mat-icon>cloud_upload</mat-icon></button>
            <input #fu type="file" (change)="fileUpload($event)" accept="*" multiple/>
        </div> 
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="'yes'">Ok</button>
</div>