.cont{
    display: inline;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, min(calc(100vh - 150px), 450px));
    gap:15px;
    max-width: 1400px;
}

@media screen and (max-width: 920px){
    .cont{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, min(calc(100vh - 140px), 450px));
        gap:30px;
    }
}