<episjob-h2 icon="feed" [data]="'Additional information'" padtop=0></episjob-h2>
<form [formGroup]="seg" class="formCont">
    <mat-form-field>
        <mat-label>Division</mat-label>
        <mat-select formControlName="div" (selectionChange)="divCh();step($event);ch(seg);">
            <mat-option *ngFor="let c of bls; let i = index" [value]="c">{{c}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Family</mat-label>
        <mat-select formControlName="fam" (selectionChange)="step($event);ch(seg);">
            <mat-option *ngFor="let f of family; let i = index" [value]="f">{{f}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Sub Category</mat-label>
        <mat-select formControlName="subC" (selectionChange)="step($event);ch(seg);">
            <mat-option *ngFor="let h of categ; let i = index" [value]="h">{{h}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Segment</mat-label>
        <mat-select formControlName="segm" (selectionChange)="step($event);ch(seg);">
            <mat-option *ngFor="let s of segments; let i = index" [value]="s">{{s}}</mat-option>
        </mat-select>
    </mat-form-field>
</form>