<div mat-dialog-title>Add Hours to {{data.file}}  {{rej}}</div>
<div mat-dialog-content>
    <h4 class="header">
        <button mat-icon-button (click)="moveWeek('-')"><mat-icon>arrow_left</mat-icon></button>
        <div>WEEK {{weekNr}} ({{mese}} {{anno}})</div>
        <button mat-icon-button (click)="moveWeek('+')"><mat-icon>arrow_right</mat-icon></button>  
    </h4>
    <div class="week">
        <form [formGroup]="weekForm" >
            <div *ngFor="let d of week; let i = index" [ngClass]="{'formGroup':!chPos('AdminTechRights'),'formGroupSU':chPos('AdminTechRights')}" >
                <mat-form-field class="hid" [ngClass]="{'holy':d.holy=='fest', 'sat':d.holy=='sat','temp':d.temp, 'sent':d.sent}">
                    <mat-label>{{d.day|dateconvday}}</mat-label>
                    <input type="number" autocomplete="off" matInput [formControlName]="'dd'+(i+1)" readonly>
                </mat-form-field>
                <mat-form-field [ngClass]="{'holy':d.holy=='fest', 'sat':d.holy=='sat','temp':d.temp, 'sent':d.sent}">
                    <mat-label>{{d.day|dateconv}}</mat-label>
                    <input type="number" autocomplete="off" matInput [formControlName]="'d'+(i+1)" readonly>
                </mat-form-field>
                <mat-form-field [ngClass]="{'holy':d.holy=='fest', 'sat':d.holy=='sat','temp':d.temp, 'sent':d.sent}">
                    <mat-label>{{firstLetter}}1{{d.temp?'*':''}}</mat-label>
                    <input type="number" autocomplete="off" min="0"  step="0.5" matInput [formControlName]="'v1'+(i+1)" (input)="write(d,'v1',i)" [readonly]="d.holy!='fer' || d.sent">
                </mat-form-field>
                <mat-form-field [ngClass]="{'holy':d.holy=='fest', 'sat':d.holy=='sat','temp':d.temp, 'sent':d.sent}">
                    <mat-label>{{firstLetter}}2{{d.temp?'*':''}}</mat-label>
                    <input type="number" autocomplete="off" min="0"  step="0.5" matInput [formControlName]="'v2'+(i+1)" (input)="write(d,'v2',i)" [readonly]="d.holy=='fest'">
                </mat-form-field>
                <mat-form-field [ngClass]="{'holy':d.holy=='fest', 'sat':d.holy=='sat','temp':d.temp, 'sent':d.sent}">
                    <mat-label>{{firstLetter}}8{{d.temp?'*':''}}</mat-label>
                    <input type="number" autocomplete="off" min="0"  step="0.5" matInput [formControlName]="'v8'+(i+1)" (input)="write(d,'v8',i)" [readonly]="d.holy!='fest'">          
                </mat-form-field>
                <div class="icons" *ngIf="chPos('AdminTechRights')">
                    <button mat-icon-button *ngIf="d.lock" (click)="lock(i)"><mat-icon  class="locked">lock</mat-icon></button>
                    <button mat-icon-button *ngIf="!d.lock"  (click)="lock(i)"><mat-icon >lock_open</mat-icon> </button>
                </div>
                
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="unlock()" *ngIf="disa && pos=='SU'">Unlock</button>
    <button mat-raised-button color="primary" (click)="onNoClick()">Close</button>
    <button mat-raised-button color="primary" [disabled]="disa" (click)="reject()" *ngIf="rej && pos=='SU'">Reject</button>  
    <button mat-raised-button color="primary" [disabled]="disa" (click)="save()">{{pos=='wsadmin'?'Submit':'Approve'}}</button>  
</div>