<episjob-navbar [title]="'Authorizations'" (filter)="filter($event)" [hide]="false"></episjob-navbar>

<div *ngIf="allow && !allSpin">
    <episjob-spin  *ngIf="rigs.length==0"></episjob-spin>
    <div *ngIf="rigs.length>0 && checkWidth()">
        <div class="cover"></div>
        <div episjobCont episjobContMaxWidth="1500" (window:resize)="res()">
            <episjob-h2 icon="compare_arrows" data="Set Access Rights" class="up" padtop="0"></episjob-h2>
            <mat-paginator [length]="rigs.length"
                [pageSize]="10"
                [pageSizeOptions]="[10,25,50,100]"
                (page)="pageEvent($event)" class="nav">
            </mat-paginator>
            <div class="tabcont">
              <table style="width:100%">
                <tr class="title" >
                   <th class="c" >Serial</th> 
                   <th class="c" *ngIf="wid">Model</th> 
                   <th class="c" *ngIf="wid">Customer</th> 
                   <th class="c"*ngIf="wid">Site</th> 
                   <th>1</th> 
                   <th>2</th> 
                   <th>3</th> 
                   <th>4</th> 
                   <th>5</th> 
                   <th>98</th> 
                   <th>99</th> 
                </tr>
                <tr *ngFor="let r of rigs1 | tablefilter : filtro ; let i= index ">
                    <td class="c" (click)="go(r.sn, 'sn')" class="poi">{{r.sn}}</td>
                    <td class="c" *ngIf="wid">{{r.model}}</td>
                    <td class="c" *ngIf="wid"  (click)="go(r.customer, 'cu')" class="poi">{{r.customer}}</td>
                    <td class="c" *ngIf="wid">{{r.site}}</td>
                    <td><mat-checkbox [checked]="r.a1==1? true: false" (change)="cl($event, r.sn, 'a1', i)"></mat-checkbox></td>
                    <td><mat-checkbox [checked]="r.a2==1? true: false" (change)="cl($event, r.sn, 'a2',i)"></mat-checkbox></td>
                    <td><mat-checkbox [checked]="r.a3==1? true: false" (change)="cl($event, r.sn,'a3',i)"></mat-checkbox></td>
                    <td><mat-checkbox [checked]="r.a4==1? true: false" (change)="cl($event, r.sn,'a4',i)"></mat-checkbox></td>
                    <td><mat-checkbox [checked]="r.a5==1? true: false" (change)="cl($event, r.sn,'a5',i)"></mat-checkbox></td>
                    <td><mat-checkbox [checked]="r.a98==1? true: false" (change)="cl($event, r.sn,'a98',i)"></mat-checkbox></td>
                    <td><mat-checkbox [checked]="r.a99==1? true: false" (change)="cl($event, r.sn,'a99',i)"></mat-checkbox></td>
                </tr>
            </table>  
            </div>
            
        </div>
    </div>
    <div *ngIf="!checkWidth()" style="margin:80px 10px;">
        <p>Screen too small</p>
    </div>
</div>


<div *ngIf="!allow && !allSpin" episjobCont>Restricted Area</div>

<episjob-spin *ngIf="allSpin" episjobCont></episjob-spin>