<div mat-dialog-title>Edit Address</div>
<div mat-dialog-content>
    <form [formGroup]="add">
        <mat-form-field class="field">
            <mat-label>Address</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="address">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="delete(data.value)"><mat-icon>delete</mat-icon></button>
    <button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="check() || add.invalid" [mat-dialog-close]="add.controls.address.value">Update</button>
</div>
