<div episjobMachinecont *ngIf="_list.length>0" [class.mat-elevation-z2]="true">
<div episjobTablecont>
    <table mat-table [dataSource]="_list">
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let a; let i = index" (click)="open(i)"> {{a.datafin | dateconv}} </td>
        </ng-container>
        <ng-container matColumnDef="Doc#" >
            <th mat-header-cell *matHeaderCellDef  class="center"> Doc# </th>
            <td mat-cell *matCellDef="let a; let i = index" (click)="open(i)" class="center"> {{a.docbpcs}} </td>
        </ng-container>
        <ng-container matColumnDef="Tech">
            <th mat-header-cell *matHeaderCellDef class="center"> Tech </th>
            <td mat-cell *matCellDef="let a; let i = index" (click)="open(i)" class="center"> {{a.tecnico11}} </td>
        </ng-container>
        <ng-container matColumnDef="del">
            <th mat-header-cell *matHeaderCellDef class="center"> Del </th>
            <td mat-cell *matCellDef="let a; let i = index" (click)="delete(i)" class="center"><mat-icon>delete</mat-icon> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator 
    [disabled]="list.length<6"
    [length]="list.length"
    [pageSize]="5"
    [pageSizeOptions]="list.length>20? [5,10,20,list.length]: (list.length>10?[5,10,list.length]:[5,list.length])"
    (page)="split($event)">
</mat-paginator>
</div>



