<div *ngIf="chPos('SalesRights')">
    <h4>{{'Potential ' + refYear + ': ' + (custPot.controls.SED.value*1+custPot.controls.URE.value*1+custPot.controls.RDD.value*1+custPot.controls.REX.value*1+custPot.controls.RGU.value*1+custPot.controls.HAT.value*1+custPot.controls.PSD.value*1) + ' k€'}}</h4>
    <div class="mainCont">
        <form [formGroup]="custPot" class="potCont">
            <mat-form-field >
                <mat-label>SED</mat-label>
                <input class="nr" matInput type="number" min="0" step="5" placeholder="Potential in kEUR" formControlName="SED" autocomplete="off" (input)="savePot($event)">
            </mat-form-field>

            <mat-form-field>
                <mat-label>URE</mat-label>
                <input matInput type="number" min="0" step="5" placeholder="Potential in kEUR" formControlName="URE" autocomplete="off" (input)="savePot($event)">
            </mat-form-field>

            <mat-form-field>
                <mat-label>RDT</mat-label>
                <input matInput type="number" min="0" step="5" placeholder="Potential in kEUR" formControlName="RDD" autocomplete="off" (input)="savePot($event)">
            </mat-form-field>

            <mat-form-field>
                <mat-label>REX</mat-label>
                <input matInput type="number" min="0" step="5" placeholder="Potential in kEUR" formControlName="REX" autocomplete="off" (input)="savePot($event)">
            </mat-form-field>

            <mat-form-field>
                <mat-label>RGU</mat-label>
                <input matInput type="number" min="0" step="5" placeholder="Potential in kEUR" formControlName="RGU" autocomplete="off" (input)="savePot($event)">
            </mat-form-field>

            <mat-form-field>
                <mat-label>HAT</mat-label>
                <input matInput type="number" min="0" step="5" placeholder="Potential in kEUR" formControlName="HAT" autocomplete="off" (input)="savePot($event)">
            </mat-form-field>

            <mat-form-field>
                <mat-label>PSD</mat-label>
                <input matInput type="number" min="0" step="5" placeholder="Potential in kEUR" formControlName="PSD" autocomplete="off" (input)="savePot($event)">
            </mat-form-field>
        </form>
    </div>
</div>