<form [formGroup]="fees" class="cont">
    <mat-form-field *ngFor="let d of labels" [ngClass]="{'hid':(typeAd!='ROC & COP Care' && (d.lab=='ROC CARE' || d.lab=='COP CARE' || d.lab=='ROC&COP CARE'))}">
        <mat-label>{{d.lab.toUpperCase()}}</mat-label>
        <input matInput type="number" min=0 [step]="d.dim" [formControlName]="d.lab" autocomplete="off" (input)="send($event, d.lab)" (change)="mod($event)" [readonly]="(pos!='SU' && pos!='admin' && pos!='adminS') || d.lab=='ROC&COP CARE'">
    </mat-form-field>
</form>