@import '../../../../epi.scss';

table{
    width:100%;
}

mat-icon{cursor: pointer;}


.cur{
    cursor: pointer;
}

.totRow{
    font-weight: 900;
}

.left{
    text-align: center;
}

.cen{
    text-align: center !important;

}

.right{
    text-align: right;
}

.cur{
    cursor:pointer;
}

.temp{
    background-color: blueviolet;
    color:white;
    border-radius: 15px;
}

:host ::ng-deep .cen .mat-sort-header-container {
    display: flex;
    justify-content: center;
}