<episjob-navbar [title]="addUpd? 'New Technician': 'Edit Technician'" [backB]="'technicians'" [home]="true" [cerca]="false"></episjob-navbar>
<div episjobCont episjobContMaxWidth="1000">
    <div  *ngIf="allow">
        <episjob-h2 icon="engineering" [data]="addUpd? 'Add New Technician' : 'Edit Technician'" padtop="0"></episjob-h2>
        <form [formGroup]="newT" class="formCont">
            <mat-form-field >
                <mat-label>Full Name</mat-label>
                <input matInput type="text" placeholder="Full Name" formControlName="fn" autocomplete="off">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Company</mat-label>
                <input matInput type="text" placeholder="Comapny" formControlName="sn" autocomplete="off">
            </mat-form-field>
        </form>
        <episjob-add-cancelbuttons 
            [a1]="'Cancel'" 
            [a2]="addUpd? 'Add' : 'Update'" 
            [type]="'tech'" 
            [check]="newT.invalid" 
            (info)="add(addUpd? 'addt':'updt', newT)"
            [del]="!addUpd"
            (dele)="cancella()"
            >
        </episjob-add-cancelbuttons>
    </div>
    <div *ngIf="!allow">Restricted area</div>
</div>
