<div cdkDrag class="cont">
    <button  mat-fab color="primary" [class.mat-elevation-z8]="true" *ngIf="allow && chPos('AdminRights') && exportFleet" (click)="export()" matTooltip="Export fleet data without hours details">
        <mat-icon>download</mat-icon>
    </button>  
    <button mat-fab color="primary" [class.mat-elevation-z8]="true" *ngIf="allow && chPos('AdminRights') && exportFleet" (click)="exportDetails()" matTooltip="Export fleet data with hours details">
        <mat-icon>browser_updated</mat-icon>
    </button>  
    <button mat-fab color="primary" [class.mat-elevation-z8]="true" *ngIf="allow && chPos('SURights')" (click)="new()">
        <mat-icon>add</mat-icon>
    </button>
</div>
