<div mat-dialog-title>Parts Request</div>
<div mat-dialog-content class="cont">
    <table mat-table [dataSource]="data.parts" class="tab mat-elevation-z0">
        <ng-container matColumnDef="pnshort">
            <th mat-header-cell *matHeaderCellDef class="str"> pn </th>
            <td mat-cell *matCellDef="let a"  class="str"> {{a.qty}} x {{a.pn}} </td>
        </ng-container> 
        <ng-container matColumnDef="p/n">
            <th mat-header-cell *matHeaderCellDef class="lar"> p/n </th>
            <td mat-cell *matCellDef="let a; let i = index" class="lar" [class.curs]="chPos('SURights')"  (click)="mod(a,i,'pn')"> {{a.pn}} </td>
        </ng-container>
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef class="_lar"> Description </th>
            <td mat-cell *matCellDef="let a; let i = index" class="_lar" [class.curs]="chPos('SURights')" (click)="mod(a,i,'desc')"> {{a.desc}} </td>
        </ng-container>            
        <ng-container matColumnDef="LLP">
            <th mat-header-cell *matHeaderCellDef class="right lar"> LLp </th>
            <td mat-cell *matCellDef="let a" class="right lar"> {{a.llp | currency:'EUR':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>      
        <ng-container matColumnDef="Qty">
            <th mat-header-cell *matHeaderCellDef class="center qty lar"> Qty </th>
            <td mat-cell *matCellDef="let a; let i=index" class="center qty lar" [class.curs]="chPos('SURights')"  (click)="mod(a,i,'qty')"> {{a.qty}} </td>
        </ng-container>      
        <ng-container matColumnDef="Tot">
            <th mat-header-cell *matHeaderCellDef class="right"> Tot </th>
            <td mat-cell *matCellDef="let a" class="right"> {{a.tot | currency:'EUR':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="download()"><mat-icon>cloud_download</mat-icon></button>
    <button mat-raised-button color="primary" [mat-dialog-close]="test">Ok</button>
    <!--<button mat-raised-button color="primary" [mat-dialog-close]="'test'">Delete</button>-->
</div>