<div mat-dialog-title>Service Job #{{data.docbpcs}}</div>
<div mat-dialog-content class="cont">
    <div class="headCont">
        <h4>Type:</h4>
        <h4>{{data.stdspe}}</h4>
        <h4>Tech:</h4>
        <h4>{{data.tecnico11}}</h4>
        <h4>Site:</h4>
        <h4>{{data.cantiere1}}</h4>
        <h4>Download:</h4>
        <mat-icon class="ico" (click)="download(data.filename)">cloud_download</mat-icon>  
    </div>
    <div class="reportCont">
        <p><strong>Report: </strong>{{data.rappl1}}</p>  
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()" >Ok</button>
    <!--<button mat-raised-button color="primary" [mat-dialog-close]="'test'">Delete</button>-->
</div>