@import '../../../epi.scss';


.card{
    background-color: rgb(245,245,245);
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.cardC{
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fill,1fr);
    gap: 15px;
}

.rigT{
    background-color: $dark-text;
    color: $light-text;
    text-align: center;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.l2{
    margin: 0 20px 10px 20px;
}

.l3{
    margin: 0 20px 0 20px;
}

.l2, .l3{
    white-space: nowrap;
    overflow: hidden;
}