<episjob-navbar [backB]="''" [title]="'Users'" (filter)="filter($event)"></episjob-navbar>

<episjob-spin *ngIf="users.length==0"></episjob-spin>
<div class="cont" episjobCont *ngIf="allow && users.length>0 && !allSpin">
    <div class="card" *ngFor="let u of users | userfilter: filtro" [class.mat-elevation-z2]="true" (click)="open(u.uid,u.mail)">
        <h3 class="rigT">{{u.nome}} {{u.cognome}}</h3>
        <h4 class="l2">Email: {{u.mail}}</h4>
        <h4 class="l2">Position: {{u.pos}}</h4>
        <h4 class="l2">Last Login: {{u.lastlog? u.lastlog:'n/a'}}</h4>
      </div>
    <episjob-addbut [fun]="'newuser'"></episjob-addbut>

</div>
<div *ngIf="!allow && !allSpin" episjobCont>Restricted Area</div>
<episjob-spin *ngIf="allSpin"></episjob-spin>

