<div mat-dialog-title>Select Week</div>
<div mat-dialog-content>
    <mat-form-field >
        <mat-label>Select Week</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp panelClass="example-month-picker"></mat-datepicker>
      </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="date.value">Ok</button>
</div>