@import '../../../../epi.scss';

h2{
    margin:0;
    white-space: nowrap;
    overflow: hidden;
}

.butt1, .butt2{
    display: grid;
    justify-items: flex-end;
    grid-template-columns: 1fr;
}

mat-icon{
    cursor: pointer;
}

.butt1{
    grid-template-columns: 1fr;
}

.butt2{
    grid-template-columns: 1fr 1fr;
}

.actions{
  display: flex;
  justify-content: flex-end;
  gap:15px;
}

.cont{
    color: $light-text;
    display: grid;
    align-items: center;
    grid-template-columns: 45px 6fr;
    grid-template-rows: 1fr;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 15px;
    background-color: $dark-text;
    overflow: hidden;
    //background-color: rgb(200, 200, 200);
}

.cont1{
    grid-template-columns: 45px 6fr 100px;
}

.cont2{
    grid-template-columns: 45px 6fr 6fr;
}

.cont3{
    grid-template-columns: 45px 6fr 3fr 3fr;
}

input{
     background-color: $dark-text;
     border:none;
     border-bottom: 1px solid $light-text;
     color: $light-text;
     font-family: 'Roboto';
 }

 input:focus{
     outline:none;
     border-bottom: 1px solid $light-text;
 }

 .lab{
     text-align: right;
     font-weight: 500;
     margin-right: 15px;
 }

 .limCont{
     display: grid;
     grid-template-columns: 1fr 40px;
 }

 .seaCont{
     display: grid;
     grid-template-columns: 1fr 20px;
 }

 .container {
    display: grid;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    border: 1px solid $light-text;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: $light-text;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: $light-text;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 3px;
    top: 1px;
    width: 3px;
    height: 5px;
    border: solid $dark-text;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }