@import '../../../epi.scss';

.cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.card{
    cursor: pointer;
    color: $dark-text;
    border-radius: 10px;
    background-color: rgb(245,245,245);
}

.title{
    background-color: $dark-text;
    color: $light-text; 
    border-radius: 10px;
}

.body, .head{
    box-sizing: border-box;
    display: grid;
    padding: 2px;
    grid-template-columns: 1fr;
    padding: 5px 10px;
    gap: 3px 5px;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.head{
    background-color: $dark-text;
    color: $light-text;
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
}

.body{
    //width: calc(100% - 25px);
    grid-template-columns: 35px 1fr;
}

mat-icon{
    transform: scale(.75);
}

.text, a{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
