<episjob-navbar title="Contact List" (filter)="filter($event)"></episjob-navbar>
<div class="cont" episjobCont *ngIf="allow && !allSpin">
    <div episjobElevation *ngFor="let c of contacts | contactfilter: filtro" class="card" [class.mat-elevation-z1]="true">
        <div class="head" (click)=go(c)>
            <!--<mat-icon class="ico">people</mat-icon>-->
            <div class="textH">{{c.name.toUpperCase()}}</div> 
        </div>
        <div class="body">
            <mat-icon class="ico" (click)=go(c)>factory</mat-icon>
            <div class="text" (click)=go(c)>{{c.company}}</div>
            <mat-icon class="ico" (click)=go(c)>business</mat-icon>
            <div class="text" (click)=go(c)>{{c.pos}}</div>
            <mat-icon class="ico" (click)=go(c)>phone</mat-icon>
            <div class="text">
                <a href="Tel:{{c.phone}}">{{c.phone}}</a>
            </div>
            <mat-icon class="ico" (click)=go(c)>mail</mat-icon>
            <div class="text">
                <a class="text" href="mailto:{{c.mail}}">{{c.mail}}</a>
            </div>  
        </div>
    </div>
    <div episjobCont *ngIf="!allow">Restricted area</div>
</div>

<div *ngIf="!allow && !allSpin" episjobCont>Restricted Area</div>
<episjob-spin *ngIf="allSpin"></episjob-spin>
