@import '../../../epi.scss';


.cont{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    overflow: hidden;
}

.file{
    display:flex;
    align-items: center;
    background-color: rgb(245,245,245);
    color: $dark-text;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid $dark-text;
    padding: 10px 5px;
    cursor: pointer;
    overflow: hidden;
}

.sel{
    background-color: $light-text;
}

.nomeF{
    margin-left: 15px;
}

.el{
    position: sticky;
    top:120px;
    z-index: 2;
    background-color: white;
}

.panel{
    background-color: white;
    position: fixed;
    top: 0; left:0;
    width:100%; 
    height: 120px;
    z-index: 1;
}

.topCont{
    display: grid;
    grid-template-columns: 60px 1fr;
}

.nomar{margin:0;margin-bottom: 15px;}