<table *ngIf="sortedData.length>0" mat-table [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" class="mat-elevation-z2">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let e; let i=index" class="cur" (click)="sel(i)" (dblclick)="directgo(e.sjid)" [ngClass]="{'sel':e.sel==1}"> {{e.data_new | dateconvshort}} </td>
    </ng-container>
    <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> s/n</th>
        <td mat-cell *matCellDef="let e; let i=index" class="cur" (click)="sel(i)" (dblclick)="directgo(e.sjid)" [ngClass]="{'sel':e.sel==1}"> {{e.matricola}} </td>
      </ng-container>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer</th>
        <td mat-cell *matCellDef="let e; let i=index" class="cur" (click)="sel(i)" (dblclick)="directgo(e.sjid)" [ngClass]="{'sel':e.sel==1}"> {{e.cliente11}} </td>
      </ng-container>
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model</th>
        <td mat-cell *matCellDef="let e; let i=index" class="cur" (click)="sel(i)" (dblclick)="directgo(e.sjid)" [ngClass]="{'sel':e.sel==1}"> {{e.prodotto1}} </td>
      </ng-container>
      <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Del</th>
        <td mat-cell *matCellDef="let e" class="cur" (click)="delete(e)" [ngClass]="{'sel':e.sel==1}"> <mat-icon>delete</mat-icon> </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>