<episjob-navbar [cerca]="false" title="Parts Request"></episjob-navbar>
<div episjobCont [episjobContMaxWidth]="1500" class="cont">
    <div *ngIf="allow && !allSpin">
        <div class="item2">
            <episjob-h2 data="Actions" icon="rocket_launch" padtop=0></episjob-h2>
            <div class="cont1">
                <div class="butCont" [ngClass]="chPos('AdminTechRights')?'butCont' : 'butContA'">
                    <button mat-raised-button color="primary" (click)="start()">Start new</button>
                    <button mat-raised-button color="primary" [disabled]="listId<0" (click)="open()" >Open draft</button>
                    <button mat-raised-button color="primary" [disabled]="listId<0 || chDel" (click)="delete()">Delete draft</button>
                    <button mat-raised-button color="primary" *ngIf="chPos('AdminTechRights')" (click)="report()">Quotes Report</button>
                </div>
                <span class="spacer" *ngIf="false"></span>
                <span *ngIf="false">or select a draft from the below list:</span>
            </div>
            <div *ngIf="list.length>0">
                <episjob-h2 data="Drafts" icon="mode"></episjob-h2>
                <episjob-listofrequests [list]="list" [selected]="listId" (index)="ind($event)" (indexD)="openD($event)"></episjob-listofrequests>
            </div>
            <div *ngIf="chPos('AdminTechRights')">
                <div>
                    
                </div>
                <div>
                    <div *ngIf="spin" class="load">
                        <episjob-spin></episjob-spin>
                        <div class="te">Loading Sent....</div> 
                    </div>
                    <div *ngIf="_listSent.length>0">
                        <episjob-h2 data="Sent" icon="forward_to_inbox" [showSearch]="true" (filter)="sea($event)"></episjob-h2>
                        <episjob-listofrequests [list]="listSent" (indexD)="openSent($event)"></episjob-listofrequests>
                    </div>  
                </div>
            </div>  
        </div>
    </div>
    <div *ngIf="!allow && !allSpin">Restricted Area</div>
    <episjob-spin *ngIf="allSpin"></episjob-spin>
</div>