<episjob-navbar [title]="'Technicians list'" (filter)="filter($event)" [cerca]="false"></episjob-navbar>
<div *ngIf="allow && !allSpin" episjobCont episjobContMaxWidth="1000">
    <episjob-addbut [fun]="'newtech'"></episjob-addbut>
    <episjob-spin *ngIf="tech.length==0"></episjob-spin>
    <div class="mainCont" *ngIf="tech.length>0">
        <episjob-h2 padtop=0 icon="engineering" data="Technicians list"></episjob-h2>
        <div class="contS">
            <div class="tech" *ngFor="let te of tech" [class.mat-elevation-z4]="true" (click)="tec(te.l,te.s)">
                <mat-icon>engineering</mat-icon>
                <div class="spacer"></div>
                <div class="nome">
                    <h4>{{te.l}}</h4>
                    <p>Company: {{te.s}}</p>
                </div>
            </div>  
        </div>
        
    </div>
</div>
<div *ngIf="!allow && !allSpin" episjobCont>Restricted Area</div>
<episjob-spin *ngIf="allSpin"></episjob-spin>


