<mat-toolbar (window:resize)="largh($event)"  (window:scroll)="scrolla($event)" [ngStyle]="{'top': scrollaV ? '60px' : '0px'}" id="menuB" class="subF" color="accent" [class.mat-elevation-z7]="true">
    <span>
      <button mat-icon-button (click)="back()" color="primary" class="back" matTooltip="Back">
        <mat-icon class="micon">navigate_before</mat-icon>
      </button>
      <!--<button mat-raised-button (click)="homeNav()" color="primary" class="back" *ngIf="home" matTooltip="Home Page">
        <mat-icon class="micon">home</mat-icon>
      </button>-->
    </span>
    <span class="head" *ngIf="chLar">{{title}}</span>
    <span class="spacer"></span>
    <span class="cerca" *ngIf="cerca">
      <mat-form-field appearance="legacy" style="font-size: .75;">
        <input matInput type="text" [(ngModel)]="value" style="font-size: 75%;" (keyup)="scrivi($event)" autocomplete="off">
        <button mat-button [ngClass]="{'hidd':value==''}" matSuffix mat-icon-button aria-label="Clear" (click)="cancella()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </span>
</mat-toolbar> 