.formCont{
    display: grid;
    gap:15px;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

.conCont{
    display: grid;
    gap:15px;
    grid-template-rows: auto;
}

.ship{
    grid-template-columns: 3fr repeat(2, minmax(100px, 1fr));
}

.row{
    display: grid;
    gap: 15px;
}

.d{
    background-color: blue;
    width:100%;height:100%;
}


.mat-form-field{
    width:100%;
}

@media only screen and (max-width: 750px) {
    .formCont{
        grid-template-columns: repeat(2,minmax(100px, 1fr));
    }
}

@media only screen and (max-width: 500px) {
    .formCont{
        grid-template-columns: repeat(1,minmax(100px, 1fr));
    }
}

.spin{margin-right: 15px;}

.addF{
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: top;
}
.but{
    margin: 7px 10px 0 5px;
    //height:52px;
}