<div class="mainCont">
    <episjob-h2 data="Calendar" icon="today" padtop="0"></episjob-h2>
    <div class="month" [class.mat-elevation-z1]="true">
        <button mat-icon-button (click)="moveMonth('-')"><mat-icon>arrow_left</mat-icon></button>
        <div>{{mese()}}</div>
        <button mat-icon-button (click)="moveMonth('+')"><mat-icon>arrow_right</mat-icon></button>
    </div>
    <div class="cont">
        <div *ngFor="let h of headers" class="head">{{h}}</div>
        <div 
            *ngFor="let d of month" 
            class="none"
            [ngClass]="{'none':d.n=='', 'day': d.n!='', 'holy': !d.d, 'sel': chDay(d.full)}" 
            [ngStyle]="{'background-color':d.n==''?'white':'none'}"
            (click)="changeDay(d.full)"
            >
            <div class="daynr">{{d.n}}</div>
            <div class="visit" *ngIf="d.visit!=''"></div>
        </div>
    </div>  
</div>

