<episjob-h2 data="Archive" icon="class" [showSearch]="true" padtop=0 (filter)="filter($event)"></episjob-h2>    
<table *ngIf="sortedData.length>0" mat-table [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" class="mat-elevation-z2">
    <ng-container matColumnDef="sn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> s/n </th>
        <td mat-cell *matCellDef="let element" class="cursor" (click)="openRig(element.sn)"> {{element.sn}} </td>
    </ng-container>
    <ng-container matColumnDef="model" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>
    <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
        <td mat-cell *matCellDef="let element" class="cursor" (click)="openCust(element.custCode)"> {{element.customer}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="cen"> Start </th>
        <td mat-cell *matCellDef="let element" class="cen"> {{element.start | dateconv}} </td>
    </ng-container>
    <ng-container matColumnDef="end" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="cen"> End </th>
        <td mat-cell *matCellDef="let element" class="cen"> {{element.end | dateconv}} </td>
    </ng-container>
    <ng-container matColumnDef="attachment">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element" class="actions" (click)="attach(element)" matTooltip="Manage attachments"> <mat-icon [ngClass]="{'light':!element.att || element.att==0}">attach_file</mat-icon> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>