
<div mat-dialog-title>Working Day #{{data.nr}}


</div>

<div mat-dialog-content class="mainCont">
    <form [formGroup]="newDay">
        <div class="headCont">
            <mat-form-field >
                <mat-label>Technicians</mat-label>
                <mat-select formControlName="tech">
                    <mat-option *ngFor="let t of tech" [value]="t.l">
                    {{t.l}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field  [ngStyle]="{'visibility':this.newDay.controls.tech.value==''?'hidden':'visible'}" >
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" (dateChange)="newDate()" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker [touchUi]="chW()" #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="items">
            <div class="hrsCont item1" *ngIf="dayType=='fer'">
                <mat-form-field  class="hrs" matTooltip="Manod Ord Viaggio">
                    <mat-label>{{data.type=='SPE'?'SPOV':'STDV'}}</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="8 - newDay.controls.spol.value" autocomplete="off" value="0.00" formControlName="spov" (input)="ch(8,'spov','spol')" (keyup)="chDec($event)">
                </mat-form-field>
                <mat-form-field  class="hrs" matTooltip="Manod Ord Lavoro">
                    <mat-label>{{data.type=='SPE'?'SPOL':'STDL'}}</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="8 - newDay.controls.spov.value" autocomplete="off" formControlName="spol" (input)="ch(8,'spol','spov')" (keyup)="chDec($event)">
                </mat-form-field>
            </div>
            <div class="hrsCont item2" *ngIf="dayType=='fer' || dayType=='sat'">
                <mat-form-field  class="hrs" matTooltip="Manod Straord Viaggio">
                    <mat-label>{{data.type=='SPE'?'SPSV':'STRV'}}</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="(dayType=='fer'?8:16) - newDay.controls.spsl.value" autocomplete="off" formControlName="spsv" (input)="ch((dayType=='fer'?8:16),'spsv','spsl')" (keyup)="chDec($event)">
                </mat-form-field>
                <mat-form-field  class="hrs" matTooltip="Manod Straord Lavoro">
                    <mat-label>{{data.type=='SPE'?'SPSL':'STRL'}}</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="(dayType=='fer'?8:16) - newDay.controls.spsv.value" autocomplete="off" formControlName="spsl"  (input)="ch((dayType=='fer'?8:16),'spsl','spsv')" (keyup)="chDec($event)">
                </mat-form-field>
            </div>

            <div class="hrsCont item3"  *ngIf="dayType=='fer' || dayType=='sat'">
                <mat-form-field  class="hrs" matTooltip="Manod Nott Viaggio">
                    <mat-label>MNTV</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="8-newDay.controls.mntl.value" autocomplete="off" formControlName="mntv" (input)="ch(8,'mntv','mntl')" (keyup)="chDec($event)">
                </mat-form-field>
                <mat-form-field  class="hrs" matTooltip="Manod Nott Lavoro">
                    <mat-label>MNTL</mat-label>
                    <input matInput type="number" step=0.25 min=0  [max]="8-newDay.controls.mntv.value" autocomplete="off" formControlName="mntl" (input)="ch(8,'mntl','mntv')" (keyup)="chDec($event)">
                </mat-form-field>
            </div>
            <div class="hrsCont item4" *ngIf="dayType=='fest'">
                <mat-form-field  class="hrs" matTooltip="Manod Fest Viaggio">
                    <mat-label>MFV</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="16-newDay.controls.mfl.value" autocomplete="off" formControlName="mfv" (input)="ch(16,'mfv','mfl')" (keyup)="chDec($event)">
                </mat-form-field>
                <mat-form-field  class="hrs" matTooltip="Manod Fest Lavoro">
                    <mat-label>MFL</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="16-newDay.controls.mfv.value" autocomplete="off" formControlName="mfl" (input)="ch(16,'mfl','mfv')" (keyup)="chDec($event)">
                </mat-form-field>
            </div>
            <div class="hrsCont item5" *ngIf="dayType=='fest'">
                <mat-form-field  class="hrs" matTooltip="Manod Nott Fest Viaggio">
                    <mat-label>MNFV</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="8-newDay.controls.mnfl.value" autocomplete="off" formControlName="mnfv" (input)="ch(8,'mnfv','mnfl')" (keyup)="chDec($event)">
                </mat-form-field>
                <mat-form-field  class="hrs" matTooltip="Manod Nott Fest Lavoro">
                    <mat-label>MNFL</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="8-newDay.controls.mnfv.value" autocomplete="off" formControlName="mnfl" (input)="ch(8,'mnfl','mnfv')" (keyup)="chDec($event)">
                </mat-form-field>
            </div>
            <div class="hrsCont item6" *ngIf="dayType=='fer' || dayType=='fest' || dayType=='sat'">
                <mat-form-field  class="hrs" matTooltip="Kilometri">
                    <mat-label>KM</mat-label>
                    <input matInput type="number" min=0 [max]="travelMax()" autocomplete="off" formControlName="km">
                </mat-form-field>
                <mat-form-field  class="hrs" matTooltip="Spese Viaggio" >
                    <mat-label>SPV</mat-label>
                    <input #spvVC matInput type="text" autocomplete="off" formControlName="spv" (focus)="travelExp()">
                </mat-form-field>
                <mat-form-field  class="hrs" matTooltip="Spese Viaggio" style="visibility: hidden; position: fixed; top:-1000px; left:-1000px">
                    <mat-label>SPVkm</mat-label>
                    <input #spvkmVC matInput type="number" min=0 autocomplete="off" formControlName="spvkm">
                </mat-form-field>
            </div>
            <div class="hrsCont item7" *ngIf="dayType=='fer' || dayType=='sat'">
                <mat-form-field  class="hrs" *ngIf="dayType=='fer'" matTooltip="Officina Ord">
                    <mat-label>OFF</mat-label>
                    <input matInput type="number" step=0.25 min=0 max=8 autocomplete="off" formControlName="off" (input)="chOF(8,'off')" (keyup)="chDec($event)">
                </mat-form-field>
                <mat-form-field  class="hrs"  matTooltip="Officina Straord">
                    <mat-label>OFS</mat-label>
                    <input matInput type="number" step=0.25 min=0 [max]="dayType=='sat'? 16 : 8" autocomplete="off" formControlName="ofs" (input)="chOF(8,'ofs')" (keyup)="chDec($event)">
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="newDay.invalid" (click)="save()">{{data.edit!=undefined?'Update':'Add'}}</button>
</div>
