<episjob-navbar [backB]="''" [title]="'Companies list'" (filter)="filter($event)"></episjob-navbar>

<episjob-spin *ngIf="customers.length==0"></episjob-spin>


<div class="custcont" episjobCont *ngIf="customers.length>0">
    <div class="custcard" episjobElevation *ngFor="let cust of customers | custfilter: filtro | sortCust: 'c1'" [class.mat-elevation-z2]="true" (click)="open(cust.c1, cust.c2,cust.c3, cust.id, $event)">
        <p class="l1">{{cust.c1}}</p>
        <div class="body">
            <mat-icon>factory</mat-icon>
            <p class="l2">{{cust.c2}}</p>
            <mat-icon>location_city</mat-icon>
            <p class="l3">{{cust.c3}}</p>   
        </div>
        
    </div>   
</div>


<episjob-addbut [fun]="'newc'"></episjob-addbut>
