@import '../../../../../epi.scss';

.cont{
    color: $dark-text;
    overflow: hidden;
    width:100%;
}

table{
    width: 100%;
}

.right{
    text-align: right;
    margin-right: 30px;
}

.center{
    text-align: center;
}

td{
    cursor: pointer;
}