
@import '../../../../epi.scss';

.search{
    width:100%;
}

.list{
    max-height: 180px;
    overflow-y: auto;
    color: $dark-text;
    margin-bottom: 20px;
}

.text{
    font-size: 9pt;
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
}

.line{
    max-height: 30px;
    display: grid;
    grid-template-columns: 27% 34% 39%;
    border-radius: 5px;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .line{
        max-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }    
    .line:nth-child(odd) {
        background-color: rgb(245,245,245);
    }
    .t1{
        font-weight: 600;
    }
    .med{
        display: none;
    }
}

@media screen and (max-width: 650px) and (min-width:401px) {
    .line{
        max-height: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }    
    .line:nth-child(odd) {
        background-color: rgb(245,245,245);
    }
    .t1{
        font-weight: 600;
    }
    .sm{
        display: none;
    }
}

@media screen and (min-width: 651px) {
    .med{
        display: none;
    }
}

.line:hover{
    background-color: $dark-text;
    color: $light-text;
}

.icon{
    scale: .5;
}

.mat-list.item.content{
    align-items: flex-start;
}

.button, .button1{
    //margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap:5px;
    margin-bottom: 10px;
    padding: 0 5px;
}

@media screen and (min-width:650px) {
    .button{
        grid-template-columns: repeat(2, 1fr);
    }  
    .button1{
        grid-template-columns: repeat(3, 1fr);
    }  
}

.mainCont{
    width: 65vw;
    max-width: 550px;
    margin:5px;
    padding: 0;
}

.typeH{
    margin: 15px 0 5px 0;
}

.orig{
    width:50%;
}

@media screen and(max-width:650px) {
    .orig{
        width:100%;
    }
}

.origdate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
}

.orig, .date{
    width: 100%;
}

@media screen and (max-width:600px) {
    .origdate{
        grid-template-columns: 1fr;
        gap:0;
    }   
}